.widget-list {
    // width: 1000px;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: #4b5667;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .widget-box {
    // padding: 20px 10px;
    border: solid 1px #6a7381;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #404d60;
    font-size: 14px;
    flex-grow: 1;
    // flex-basis: 0;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    height: 220px;
    flex: 0 0 319px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(224, 122, 122, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    // opacity: 0;
    border: dashed;
    border-color: #757f8c;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    // border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .widget-header {
      color: white;
      font-weight: 500;
      font-size: 14px;
  }

  hr.divider {
    border-top: 2px solid #646d7c;
  }

  .graph-details {
        height: 35px;
        div:first-child {
            border-right: 2px solid #344050;                       
        }
        div {
            display: inline-block;
            text-align: center;
            width: 50%; 
        }
      span {          
          color:#ffffff;
      }
      span.perc-text {
        display: block;
        font-size: 8px;
        color: #f3373b;
      }
  }

  .m-t-20 {
    margin-top: 20px;
  }

/* Define the stop colors */
#gradient-0 stop {
	stop-color: #7d8591;
}
#gradient-0 stop[offset="0"] {
	stop-opacity: 0.75;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}
#gradient-1 stop {
	stop-color: #cccccc;
}
#gradient-1 stop[offset="0"] {
	stop-opacity: 0;
}
#gradient-1 stop[offset="1"] {
	stop-opacity: 0.25;
}

/* Apply the gradients */
.highcharts-plot-background {
	fill: url(#gradient-1);
}
.highcharts-color-0 .highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-0);
}

.highcharts-background {
	fill: #efefef;
	stroke: #a4edba;
	stroke-width: 2px;
}