<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">Search</div>
  </div>
  <hr class="divider">
  <div class="row">
      <div class="col-md-12 widget-header">DASHBOARD</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="all" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="all" cdkDropListConnectedTo="even"
        class="widget-list" (cdkDropListDropped)="dropDemo1($event)" (cdkDropExited)="dropDemo1($event)">
        <!-- <div class="widget-box col-md-3" *ngFor="let number of all" [cdkDragData]="number" cdkDrag> -->
        <div class="widget-box" *ngFor="let number of all" [cdkDragData]="number" cdkDrag>
            <ng-container *ngTemplateOutlet="this[number+'Panel']">
                {{number}}First Block
              </ng-container>
        </div>
      </div>
    </div>        
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="even" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="even" cdkDropListConnectedTo="all"
        class="widget-list" (cdkDropListDropped)="dropDemo1($event)" (cdkDropExited)="dropDemo1($event)">
        <!-- <div class="widget-box col-md-3" *ngFor="let number of even" cdkDrag [cdkDragData]="number">{{number}} -->
        <div class="widget-box" *ngFor="let number of even" cdkDrag [cdkDragData]="number">{{number}}
            <ng-container *ngTemplateOutlet="this[number+'Panel']">
                {{number}}Second Block
              </ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #aPanel>      
    <highcharts-chart
      [Highcharts] = "highcharts" 
      [options] = "splineChartOptions" 
      style = "width: 100%; height: 175px; display: block;border-radius: 5px;">
    </highcharts-chart>
    <div class="graph-details">
      <div>
        <span>48,021</span>
        <span class="perc-text">58.58%</span>
      </div>
      <div>
        <span>$48,021</span>
        <span class="perc-text">58.58%</span>
      </div>
    </div>      
  </ng-template>
  <ng-template #bPanel>
      <highcharts-chart
      [Highcharts] = "highcharts" 
      [options] = "barChartOptions" 
      style = "width: 100%; height: 153px; display: block;border-radius: 5px;">
    </highcharts-chart>
    <div class="graph-details m-t-20">
      <div>
        <span>1,081,605</span>
        <span class="perc-text">7.48%</span>
      </div>
      <div>
        <span>$1,837,7822</span>
        <span class="perc-text">71%</span>
      </div>
    </div> 
  </ng-template>
  <ng-template #cPanel>c content</ng-template>
  <ng-template #dPanel>d content</ng-template>
  <ng-template #ePanel>e content</ng-template>
  <ng-template #fPanel>f content</ng-template>
  <ng-template #gPanel>g content</ng-template>
  <ng-template #hPanel>h content</ng-template>
</div>