/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0px; padding: 0px;
    background: #4b5667;
}

.container-fluid {    
    background: #4b5667;
}